services:
  horsey:
    build: ./
    ports:
      - "8084:8084"
    env_file:
      - ./.env
    depends_on:
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    volumes:
      - pg-data:/var/lib/postgresql
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}

volumes:
  pg-data: